Library/metadata/
Library/ShaderCache/
.vs/
Temp/
Library/UnityAssemblies/
Library/ScriptAssemblies/
VK.Unity/bin/
VK.Unity/obj/
Assets/Libs/
Library/EditorUserBuildSettings.asset
Library/assetDatabase3
Output/
*.log
VK.Unity.Editor/bin/
VK.Unity.Editor/obj/
Assets/VKSDK/Libs/
*.TMP
*.apk
*.unitypackage
